CONTAINER_REGISTRY_BASE=quay.io/api-platform
DOMAIN_NAME=domain.com
HTTP_OR_SSL=http://
DB_NAME=marketplace
DB_PASS=marketplace
DB_USER=marketplace
JWT_KEY=!UnsecureChangeMe!
SUBDOMAINS_LIST=(admin|api|cache|mercure|www)
NOTIFICATION_EMAIL=MYAWESOMEEMAIL
NOTIFICATION_EMAIL_PASS=MYAWESOMEPASSWORD
APP_ENV=dev
MARKETPLACE_NAME=MARKETPLACE
REACT_APP_MARKETPLACE_EMAIL=MARKETPLACE_EMAIL
REACT_APP_MARKETPLACE_LOCATION=MARKETPLACE_LOCATION
REACT_APP_MARKETPLACE_PHONE=MARKETPLACE_PHONE
